{% extends "base.html" %}
{% load static %}

{% block contenido %}


<!-- ======= Hero No Slider Section ======= -->
<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          
            <h2> SALA AMARILLA </h2>
           
           </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero No Slider Sectio -->
<!--AQUI EMPIEZA-->
  <br>

  <div class="container">
    <h1 style="text-align: center; margin-bottom: 20px;">NOVEDADES</h1>
    <div class="row">
        {% for amarilla in sala_amarilla %}
        <div class="col-sm-6 mb-4">
            <div class="card-body" style="position: relative; overflow: hidden; border-radius: 15px; text-align: center; padding: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                
                <div class="background-wrapper" style="background-image: url('{% static 'assets\img/luces.gif' %}'); background-size: contain; height: 570px; width: 40%; position: absolute; top: 0; left: 50%; transform: translateX(-50%);"></div>

                <h2 style="color: #0033cc; font-size: 24px; font-weight: bold; position: relative; z-index: 2;">{{ amarilla.titulo }}</h2>
                
                <a href="{% url 'SalaAmarillaDetalle' amarilla.id %}" class="wobble-button" style="color: #0033cc; text-decoration: none; display: inline-block; padding: 10px 20px; border-radius: 50px; position: relative; z-index: 2;">
                    Ver Detalle
                </a>
                <br>                              
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}