{% extends "base.html" %}
{% load static %}

{% block contenido %}
<style>
  body {
    background: linear-gradient(to bottom, #ccffcc, #66ff66); /* Degradado de verde pastel a verde oscuro */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
  }

  .center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
  }

  .button-img {
    max-width: 40%;
    height: auto;
    margin-top: 5px; /* Ajusta este valor según sea necesario */
  }

  .green-text {
    color: #006600; /* Verde oscuro, ajusta el valor según sea necesario */
  }
</style>

<br>
<br>

<div class="container center-vertically">

  <div class="card-container">
    <h2 class="green-text">Novedades en Sala Verde</h2>

    <h4 class="green-text"><i>{{ novedad.titulo }}</i></h4>
    <p class="yellow-text">Mensaje de<i>{{ novedad.remitente }}</i></p>

    <p class="green-text"><i>{{ novedad.descripcion }}</i></p>

    {% if novedad.imagen %}
    <p>
      <img src="{{ novedad.imagen.url }}" alt="{{ novedad.titulo }}" class="img-fluid">
    </p>
    {% endif %}

    {% if novedad.usuario == user %}
    <div class="row">
      <div class="col-sm-4 mb-4">
        <div class="card-body center-vertically">
          <a href="{% url 'editar_verde' novedad.id %}" class="green-text">
            <img src='{% static 'assets\img/lapiz.jpg' %}' alt="Editar" width="50" height="50" class="button-img">
            Editar
          </a>
        </div>
      </div>

      <div class="col-sm-4 mb-4">
        <div class="card-body center-vertically">
          <a href="{% url 'eliminar_verde' novedad.id %}" class="green-text">
            <img src='{% static 'assets\img/eliminar.jpg' %}' alt="Eliminar" width="50" height="50" class="button-img">
            Eliminar
          </a>
        </div>
      </div>
  {% endif %}

      <div class="col-sm-4 mb-4">
        <div class="card-body center-vertically">
          <a href="{% url 'lista_verde' %}" class="green-text">
            <img src='{% static 'assets\img/volver.png' %}' alt="Volver a la lista" width="50" height="50" class="button-img">
            Volver
          </a>
        </div>
      </div>
    </div>
  </div>
 
  
</div>
<br>
</div>
<br>
{% endblock %}
